<link rel="stylesheet" type="text/css" href="/assets/css/css.css"/>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
<meta content="yes" name="apple-mobile-web-app-capable"/>
<meta content="black" name="apple-mobile-web-app-status-bar-style"/>
<meta name="format-detection" content="telephone=no"/>
<meta name="format-detection" content="email=no"/>
<meta name="msapplication-tap-highlight" content="no">

<!-- header -->
<header class="tofixed inbn style2 header" id="header">
  <div class="headcenter"><img src="/assets/images/icon/headlogo.png" alt="" class="headlogo"/></div>
  <div class="headr">
    <a href="###" class="headbtn"><i class="search_hico hico"></i></a>
    <a href="###" class="headbtn"><i class="mes_hico hico"></i><span class="ntnum">99+</span></a>
  </div>
</header>
<!--end header-->
<!-- banner -->
<div class="ibn" id="ibn">
  <ul class="bd">
    <li><a href="###"><img src="/assets/images/banner/ibn/01.jpg" alt=""/></a></li>
    <li><a href="###"><img src="/assets/images/banner/ibn/01.jpg" alt=""/></a></li>
    <li><a href="###"><img src="/assets/images/banner/ibn/01.jpg" alt=""/></a></li>
    <li><a href="###"><img src="/assets/images/banner/ibn/01.jpg" alt=""/></a></li>
  </ul>
  <ul class="hd"></ul>
</div>
<!-- banner -->
<!-- 中间 -->
<!-- 一行 -->
<nav class="inavlist wbox">
  <a href="###" class="inavitem"><img src="/assets/images/icon/inav/01.png" alt="" class="ico"/>
    <div class="t">男士SPA</div>
  </a>
  <a href="###" class="inavitem"><img src="/assets/images/icon/inav/02.png" alt="" class="ico"/>
    <div class="t">看电影</div>
  </a>
  <a href="###" class="inavitem"><img src="/assets/images/icon/inav/03.png" alt="" class="ico"/>
    <div class="t">足疗</div>
  </a>
  <a href="###" class="inavitem"><img src="/assets/images/icon/inav/04.png" alt="" class="ico"/>
    <div class="t">模特</div>
  </a>
  <a href="###" class="inavitem"><img src="/assets/images/icon/inav/05.png" alt="" class="ico"/>
    <div class="t">陪聊天</div>
  </a>
  <a href="###" class="inavitem"><img src="/assets/images/icon/inav/06.png" alt="" class="ico"/>
    <div class="t">交友</div>
  </a>
  <a href="###" class="inavitem"><img src="/assets/images/icon/inav/07.png" alt="" class="ico"/>
    <div class="t">相亲</div>
  </a>
  <a href="###" class="inavitem"><img src="/assets/images/icon/inav/08.png" alt="" class="ico"/>
    <div class="t">中医推拿</div>
  </a>
  <a href="###" class="inavitem"><img src="/assets/images/icon/inav/09.png" alt="" class="ico"/>
    <div class="t">练唱歌</div>
  </a>
  <a href="###" class="inavitem"><img src="/assets/images/icon/inav/10.png" alt="" class="ico"/>
    <div class="t">全部</div>
  </a>
</nav>
<!-- end 一行 -->
<!-- 一行 -->
<div class="scrollnewsrow wbox">
  <div class="scrollnewsrow_th"><img src="/assets/images/icon/scrollnewsrow_label.png" alt="" class="scrollnewsrow_label"/>
  </div>
  <div class="scrollnews" id="scrollnews">
    <div class="scrollnewsList list">
      <div class="scrollitem">
        <a href="###" class="scrollnewsgo">
          <div class="text"><span class="rdtxt">momo*</span>邀请了6个好友加入走野...</div>
          <span class="avatoritm"><img src="/assets/images/portrait/40/01.jpg" alt=""/></span>
          <span class="avatoritm"><img src="/assets/images/portrait/40/02.jpg" alt=""/></span>
          <span class="avatoritm"><img src="/assets/images/portrait/40/03.jpg" alt=""/></span>
        </a>
      </div>
      <div class="scrollitem">
        <a href="###" class="scrollnewsgo">
          <div class="text">02<span class="rdtxt">momo*</span>邀请了6个好友加入走野...</div>
          <span class="avatoritm"><img src="/assets/images/portrait/40/01.jpg" alt=""/></span>
          <span class="avatoritm"><img src="/assets/images/portrait/40/03.jpg" alt=""/></span>
        </a>
      </div>
      <div class="scrollitem">
        <a href="###" class="scrollnewsgo">
          <div class="text">03<span class="rdtxt">momo*</span>邀请了6个好友加入走野...</div>
          <span class="avatoritm"><img src="/assets/images/portrait/40/01.jpg" alt=""/></span>
        </a>
      </div>
      <div class="scrollitem">
        <a href="###" class="scrollnewsgo">
          <div class="text">04<span class="rdtxt">momo*</span>邀请了6个好友加入走野...</div>
          <span class="avatoritm"><img src="/assets/images/portrait/40/02.jpg" alt=""/></span>
          <span class="avatoritm"><img src="/assets/images/portrait/40/03.jpg" alt=""/></span>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- end 一行 -->
<!-- 一行 -->
<section class="wpbox">
  <div class="boxmt">
    <i class="favor_tico tico"></i>
    <div class="cutcont">
      <h2 class="boxmtitle">同城热约</h2>
    </div>
  </div>
  <ul class="quickcards">
    <li class="quickcard"><a href="###" class="quickcard_link">
      <div class="quickcard_produce">
        <div class="quickcard_pic">
          <div class="pinlside"><span class="bktextag">男士SPA</span></div>
          <img src="/assets/images/pic/quickcard/01.jpg" alt=""/>
          <div class="picdecs">
            <div class="ac picdecs_cont"><i class="local_sico sico"></i>距离你13.3km</div>
          </div>
        </div>
        <div class="quickcard_decs">
          <div class="quickcard_tr"><span href="###" class="primarybtn msbtn">约Ta</span></div>
        </div>
      </div>
    </a></li>
    <li class="quickcard"><a href="###" class="quickcard_link">
      <div class="quickcard_produce">
        <div class="quickcard_pic">
          <div class="pinlside"><span class="bktextag">陪聊天</span></div>
          <img src="/assets/images/pic/quickcard/02.jpg" alt=""/>
          <div class="picdecs">
            <div class="ac picdecs_cont"><i class="local_sico sico"></i>距离你19.8km距离你19.8km距离你19.8km距离你19.8km距离你19.8km
            </div>
          </div>
        </div>
        <div class="quickcard_decs">
          <div class="quickcard_tr"><span href="###" class="primarybtn msbtn">约Ta</span></div>
        </div>
      </div>
    </a></li>
    <li class="quickcard"><a href="###" class="quickcard_link">
      <div class="quickcard_produce">
        <div class="quickcard_pic">
          <div class="pinlside"><span class="bktextag">练唱歌</span></div>
          <img src="/assets/images/pic/quickcard/03.jpg" alt=""/>
          <div class="picdecs">
            <div class="ac picdecs_cont"><i class="local_sico sico"></i>距离你15.8km</div>
          </div>
        </div>
        <div class="quickcard_decs">
          <div class="quickcard_tr"><span href="###" class="primarybtn msbtn">约Ta</span></div>
        </div>
      </div>
    </a></li>
  </ul>
</section>
<!-- end 一行 -->
<!-- 一行 -->
<section class="wpbox">
  <div class="boxmt">
    <i class="favor_tico tico"></i>
    <div class="cutcont">
      <h2 class="boxmtitle">限时活动</h2>
    </div>
  </div>
  <div class="activecards">
    <div class="col3">
      <a href="###" class="activecard_veritem"><img src="/assets/images/pic/activecard/01.png" alt=""/></a>
    </div>
    <div class="col4">
      <a href="###" class="activecard_hozitem">
        <div class="decs">
          <div class="title">每日签到</div>
          <p>巨额奖金等你瓜分</p>
        </div>
        <img src="/assets/images/pic/activecard/02.png" alt=""/>
      </a>
      <a href="###" class="activecard_hozitem">
        <div class="decs">
          <div class="title">每日签到</div>
          <p>得百元现金奖励</p>
        </div>
        <img src="/assets/images/pic/activecard/03.png" alt=""/>
      </a>
    </div>
  </div>
  <div class="picsclenternav">
    <ul class="picsclenternav_list">
      <li><a href="###"><img src="/assets/images/pic/picsclenternav/01.png" alt=""/></a></li>
      <li><a href="###"><img src="/assets/images/pic/picsclenternav/02.png" alt=""/></a></li>
      <li><a href="###"><img src="/assets/images/pic/picsclenternav/03.png" alt=""/></a></li>
      <li><a href="###"><img src="/assets/images/pic/picsclenternav/01.png" alt=""/></a></li>
      <li><a href="###"><img src="/assets/images/pic/picsclenternav/02.png" alt=""/></a></li>
      <li><a href="###"><img src="/assets/images/pic/picsclenternav/03.png" alt=""/></a></li>
    </ul>
  </div>
</section>
<!-- end 一行 -->
<!-- 一行 -->
<section class="wpbox">
  <div class="boxmt">
    <i class="favor_tico tico"></i>
    <div class="cutcont">
      <h2 class="boxmtitle">身边动态</h2>
    </div>
    <a href="###" class="boxmtbtn">MORE<i class="rgt"></i></a>
  </div>
  <ul class="quickcards">
    <li class="quickcard"><a href="###" class="quickcard_link">
      <div class="quickcard_produce">
        <div class="quickcard_pic">
          <div class="pinlside"><span class="bktextag">男士SPA</span></div>
          <img src="/assets/images/pic/quickcard/01.jpg" alt=""/>
          <div class="picdecs">
            <div class="picdecs_cont"><span class="t">芳芒MI</span></div>
            <span><i class="local_sico sico"></i>13.3km</span>
          </div>
        </div>
      </div>
    </a></li>
    <li class="quickcard"><a href="###" class="quickcard_link">
      <div class="quickcard_produce">
        <div class="quickcard_pic">
          <div class="pinlside"><span class="bktextag">陪聊天</span></div>
          <img src="/assets/images/pic/quickcard/02.jpg" alt=""/>
          <div class="picdecs">
            <div class="ac picdecs_cont">我是可乐...</div>
            <span><i class="local_sico sico"></i>9.8km</span>
          </div>
        </div>
      </div>
    </a></li>
    <li class="quickcard"><a href="###" class="quickcard_link">
      <div class="quickcard_produce">
        <div class="quickcard_pic">
          <div class="pinlside"><span class="bktextag">练唱歌</span></div>
          <img src="/assets/images/pic/quickcard/03.jpg" alt=""/>
          <div class="picdecs">
            <div class="ac picdecs_cont">眼神在放...</div>
            <span><i class="local_sico sico"></i>5.8km</span>
          </div>
        </div>
      </div>
    </a></li>
  </ul>
</section>
<!-- end 一行 -->
<!-- 一行 -->
<div class="stickyWrap" id="scrollbox01">
  <!-- sortbar -->
  <div class="sortbar_wrap stickyInTop" id="sortbarWrap">
    <div class="sortbar" id="sortbar">
      <nav class="sortbarhd">
        <a href="javascript:;" class="active spnav  sortbarhd_item">智能排序</a>
        <a href="javascript:;" class="spnav sortbarhd_item">人气最高</a>
        <a href="javascript:;" class="spnav sortbarhd_item">距离最近</a>
        <div data-sort="filter" class="hasbd sortbarhd_item">高级筛选<i class="selgt"></i></div>
      </nav>
      <div class="sortbarbd">
        <div data-sort="filter" class="sortbar_item">
          <div class="sortbar_column">
            <div class="ph20 sortbar_mc">
              <dl class="sortcldl">
                <dt class="sortcldt">品类</dt>
                <dd class="sortcldd">
                  <a href="###">情感咨询</a>
                  <a href="###">兼职红娘</a>
                  <a href="###">户外运动</a>
                </dd>
              </dl>
              <dl class="sortcldl">
                <dt class="sortcldt">性别</dt>
                <dd class="sortcldd">
                  <a class="selected" href="###">不限</a>
                  <a href="###">男</a>
                  <a href="###">女</a>
                </dd>
              </dl>
              <dl class="sortcldl">
                <dt class="sortcldt">距离</dt>
                <dd class="sortcldd">
                  <a class="selected" href="###">不限</a>
                  <a href="###">5公里内</a>
                  <a href="###">10公里内</a>
                </dd>
              </dl>
            </div>
            <nav class="setbtnrow">
              <a href="###" class="reset setbtn">重置</a>
              <a href="###" class="confirm setbtn">确定</a>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="closesortbar sortbarbg"></div>
  </div>
  <!-- end sortbar -->
  <!-- 一行 -->
  <div class="ucards">
    <div class="ucard">
      <div class="ucard_mt">
        <a href="###" class="ucard_user">
          <div class="ucard_user_avator">
            <img src="/assets/images/portrait/80/01.jpg" alt=""/>
            <div class="avatordecs">推荐</div>
          </div>
          <div class="ucard_user_cont">
            <div class="cuth"><span class="name">做你的狼嚎</span></div>
            <div class="cutd">
              <div class="cutdcont">
								<span class="icotags">
									<span class="female icotag"><span class="icotag_text">26</span></span>
									<span class="lv icotag"></span>
									<span class="phone icotag"></span>
									<span class="user icotag"></span>
									<span class="award icotag"></span>
								</span>
              </div>
              <span class="itm"><i class="local_sico sico"></i>8.33km</span>
            </div>
          </div>
        </a>
      </div>
      <div class="ucard_mc">
        <div class="cutpic3">
					<span class="cutpicitm"><div class="cutpicinner">
						<img src="/assets/images/pic/cutpic3/01.jpg" alt=""/>
						<div class="picover">
							<div class="picover_center"><i class="play_otherico otherico"></i></div>
						</div>
					</div></span>
          <span class="cutpicitm"><div class="cutpicinner"><img src="/assets/images/pic/cutpic3/02.jpg" alt=""/></div></span>
          <span class="cutpicitm"><div class="cutpicinner"><img src="/assets/images/pic/cutpic3/03.jpg" alt=""/></div></span>
        </div>
        <div class="ucard_artdp">
          <div class="ucard_artdp_dt">男士SPA</div>
          <p class="ucard_artdp_p">专业男士spa，手法一流，保证让您满意，要做spa的朋友可以联系我哦~</p>
        </div>
      </div>
      <div class="ucard_tools">
        <a href="###" class="ucardbtn"><i class="alarm_mico mico"></i>上线提醒</a>
        <span class="ucardbtn"><i class="coin_mico mico"></i>打赏TA</span>
        <a href="###" class="ucardbtn"><i class="money_mico mico"></i>充值返现</a>
        <a href="###" class="primarybtn mbtn"><i class="love_mico mico"></i>约TA</a>
      </div>
    </div>
    <div class="ucard">
      <div class="ucard_mt">
        <a href="###" class="ucard_user">
          <div class="ucard_user_avator">
            <img src="/assets/images/portrait/80/01.jpg" alt=""/>
            <div class="avatordecs">推荐</div>
          </div>
          <div class="ucard_user_cont">
            <div class="cuth"><span class="name">做你的狼嚎</span></div>
            <div class="cutd">
              <div class="cutdcont">
								<span class="icotags">
									<span class="female icotag"><span class="icotag_text">26</span></span>
									<span class="lv icotag"></span>
									<span class="phone icotag"></span>
									<span class="user icotag"></span>
									<span class="award icotag"></span>
								</span>
              </div>
              <span class="itm"><i class="local_sico sico"></i>8.33km</span>
            </div>
          </div>
        </a>
      </div>
      <div class="ucard_mc">
        <div class="cutpic3">
          <span class="cutpicitm"><div class="cutpicinner"><img src="/assets/images/pic/cutpic3/01.jpg" alt=""/></div></span>
          <span class="cutpicitm"><div class="cutpicinner"><img src="/assets/images/pic/cutpic3/02.jpg" alt=""/></div></span>
          <span class="cutpicitm"><div class="cutpicinner"><img src="/assets/images/pic/cutpic3/03.jpg" alt=""/></div></span>
        </div>
        <div class="ucard_artdp">
          <div class="ucard_artdp_dt">男士SPA</div>
          <p class="ucard_artdp_p">专业男士spa，手法一流，保证让您满意，要做spa的朋友可以联系我哦~</p>
        </div>
      </div>
      <div class="ucard_tools">
        <a href="###" class="ucardbtn"><i class="alarm_mico mico"></i>上线提醒</a>
        <span class="ucardbtn"><i class="coin_mico mico"></i>455928</span>
        <a href="###" class="ucardbtn"><i class="money_mico mico"></i>充值返现</a>
        <a href="###" class="primarybtn mbtn"><i class="love_mico mico"></i>约TA</a>
      </div>
    </div>
    <div class="ucard">
      <div class="ucard_mt">
        <a href="###" class="ucard_user">
          <div class="ucard_user_avator">
            <img src="/assets/images/portrait/80/01.jpg" alt=""/>
          </div>
          <div class="ucard_user_cont">
            <div class="cuth"><span class="name">做你的狼嚎</span></div>
            <div class="cutd">
              <div class="cutdcont">
								<span class="icotags">
									<span class="female icotag"><span class="icotag_text">26</span></span>
									<span class="lv icotag"></span>
									<span class="phone icotag"></span>
									<span class="user icotag"></span>
									<span class="award icotag"></span>
								</span>
              </div>
              <span class="itm"><i class="local_sico sico"></i>8.33km</span>
            </div>
          </div>
        </a>
      </div>
      <div class="ucard_mc">
        <div class="cutpic2">
          <span class="cutpicitm"><div class="cutpicinner"><img src="/assets/images/pic/cutpic2/01.jpg" alt=""/></div></span>
          <span class="cutpicitm"><div class="cutpicinner"><img src="/assets/images/pic/cutpic2/02.jpg" alt=""/></div></span>
        </div>
        <div class="ucard_artdp">
          <div class="ucard_artdp_dt">男士SPA</div>
          <p class="ucard_artdp_p">专业男士spa，手法一流，保证让您满意，要做spa的朋友可以联系我哦~</p>
        </div>
      </div>
      <div class="ucard_tools">
        <a href="###" class="ucardbtn"><i class="alarm_mico mico"></i>上线提醒</a>
        <span class="ucardbtn"><i class="coin_mico mico"></i>455928</span>
        <a href="###" class="ucardbtn"><i class="money_mico mico"></i>充值返现</a>
        <a href="###" class="primarybtn mbtn"><i class="love_mico mico"></i>约TA</a>
      </div>
    </div>
    <div class="picadv"><a href="###" class="picadv_link"><img src="/assets/images/pic/picadv/01.jpg" alt=""/></a></div>
    <div class="ucard">
      <div class="ucard_mt">
        <a href="###" class="ucard_user">
          <div class="ucard_user_avator">
            <img src="/assets/images/portrait/80/01.jpg" alt=""/>
            <div class="avatordecs">推荐</div>
          </div>
          <div class="ucard_user_cont">
            <div class="cuth"><span class="name">做你的狼嚎</span></div>
            <div class="cutd">
              <div class="cutdcont">
								<span class="icotags">
									<span class="female icotag"><span class="icotag_text">26</span></span>
									<span class="lv icotag"></span>
									<span class="phone icotag"></span>
									<span class="user icotag"></span>
									<span class="award icotag"></span>
								</span>
              </div>
              <span class="itm"><i class="local_sico sico"></i>8.33km</span>
            </div>
          </div>
        </a>
      </div>
      <div class="ucard_mc">
        <div class="cutpic">
          <span class="cutpicitm"><div class="cutpicinner"><img src="/assets/images/pic/cutpic/01.jpg" alt=""/></div></span>
        </div>
        <div class="ucard_artdp">
          <div class="ucard_artdp_dt">男士SPA</div>
          <p class="ucard_artdp_p">专业男士spa，手法一流，保证让您满意，要做spa的朋友可以联系我哦~</p>
        </div>
      </div>
      <div class="ucard_tools">
        <a href="###" class="ucardbtn"><i class="alarm_mico mico"></i>上线提醒</a>
        <span class="ucardbtn"><i class="coin_mico mico"></i>455928</span>
        <a href="###" class="ucardbtn"><i class="money_mico mico"></i>充值返现</a>
        <a href="###" class="primarybtn mbtn"><i class="love_mico mico"></i>约TA</a>
      </div>
    </div>
    <div class="ucard">
      <div class="ucard_mt">
        <a href="###" class="ucard_user">
          <div class="ucard_user_avator">
            <img src="/assets/images/portrait/80/02.jpg" alt=""/>
          </div>
          <div class="ucard_user_cont">
            <div class="cuth"><span class="name">家电维修</span></div>
            <div class="cutd">
              <div class="cutdcont">
								<span class="icotags">
									<span class="male icotag"><span class="icotag_text">26</span></span>
									<span class="lv icotag"></span>
									<span class="phone icotag"></span>
									<span class="user icotag"></span>
									<span class="award icotag"></span>
								</span>
              </div>
              <span class="itm"><i class="local_sico sico"></i>8.33km</span>
            </div>
          </div>
        </a>
      </div>
      <div class="ucard_mc">
        <div class="ucard_artdp">
          <div class="ucard_artdp_dt">家电维修</div>
          <p class="ucard_artdp_p">从事专业维修10年，经验更丰富，技术更有保证，多收取一丝一评，不夸大电器故障，只做良心维修。</p>
          <div class="textags">
            <span class="textag">冰箱</span>
            <span class="textag">热水器</span>
            <span class="textag">电视机</span>
          </div>
        </div>
      </div>
      <div class="ucard_tools">
        <a href="###" class="ucardbtn"><i class="alarm_mico mico"></i>上线提醒</a>
        <span class="ucardbtn"><i class="coin_mico mico"></i>455928</span>
        <a href="###" class="ucardbtn"><i class="money_mico mico"></i>充值返现</a>
        <a href="###" class="primarybtn mbtn"><i class="love_mico mico"></i>约TA</a>
      </div>
    </div>
  </div>
  <!-- end 一行 -->
</div>
<!-- end 一行 -->
<!--end 中间-->

<!-- fadenews -->
<ul class="fadenews" id="fadenews">
  <li class="fadenews_item">
    <div class="fadenews_photo"><img src="/assets/images/portrait/50/01.jpg" alt=""/></div>
    <p class="fadenews_text">李宇*充值
      <ins>50</ins>
      元获得了
      <ins>5</ins>
      元...
    </p>
  </li>
  <li class="fadenews_item">
    <div class="fadenews_photo"><img src="/assets/images/portrait/50/01.jpg" alt=""/></div>
    <p class="fadenews_text">李宇*充值
      <ins>51</ins>
      元获得了
      <ins>5</ins>
      元李宇*充值
      <ins>51</ins>
      元获得了
      <ins>5</ins>
      元李宇*充值
      <ins>51</ins>
      元获得了
      <ins>5</ins>
      元李宇*充值
      <ins>51</ins>
      元获得了
      <ins>5</ins>
      元
    </p>
  </li>
  <li class="fadenews_item">
    <div class="fadenews_photo"><img src="/assets/images/portrait/50/01.jpg" alt=""/></div>
    <p class="fadenews_text">李宇*充值
      <ins>52</ins>
      元获得了
      <ins>5</ins>
      元...
    </p>
  </li>
  <li class="fadenews_item">
    <div class="fadenews_photo"><img src="/assets/images/portrait/50/01.jpg" alt=""/></div>
    <p class="fadenews_text">李宇*充值
      <ins>53</ins>
      元获得了
      <ins>5</ins>
      元...
    </p>
  </li>
  <li class="fadenews_item">
    <div class="fadenews_photo"><img src="/assets/images/portrait/50/01.jpg" alt=""/></div>
    <p class="fadenews_text">李宇*充值
      <ins>54</ins>
      元获得了
      <ins>5</ins>
      元...
    </p>
  </li>
  <li class="fadenews_item">
    <div class="fadenews_photo"><img src="/assets/images/portrait/50/01.jpg" alt=""/></div>
    <p class="fadenews_text">李宇*充值
      <ins>55</ins>
      元获得了
      <ins>5</ins>
      元...
    </p>
  </li>
  <li class="fadenews_item">
    <div class="fadenews_photo"><img src="/assets/images/portrait/50/01.jpg" alt=""/></div>
    <p class="fadenews_text">李宇*充值
      <ins>56</ins>
      元获得了
      <ins>5</ins>
      元...
    </p>
  </li>
</ul>
<!-- end fadenews -->

<!-- ftools -->
<nav class="ftools">
  <a href="###" class="join ftoolsitem"></a>
  <a href="#" class="gotop ftoolsitem"></a>
</nav>
<!-- end ftools -->


<script src="/assets/js/TouchSlide.js"></script>
<script src="/assets/js/tool.js"></script>
