<link rel="stylesheet" type="text/css" href="/assets/css/css.css"/>


<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta name="format-detection" content="telephone=no" />
<meta name="format-detection" content="email=no" />
<meta name="msapplication-tap-highlight" content="no">


<!-- header -->
<header class="header">
  <div class="headl"><a href="javascript:window.history.back(-1);" class="headbtn"><i class="back_hico"></i></a></div>
  <div class="headtitle">需求管理</div>
  <div class="headr">
    <a href="###" class="rdtxt headbtn">全选</a>
  </div>
</header>
<!--end header-->
<!-- 中间 -->
<!-- 一行 -->
<div class="mt16 ucards">
  <div class="ucard">
    <div class="ucard_mt">
      <a href="###" class="ucard_user">
        <div class="ucard_user_avator">
          <img src="/assets/images/portrait/80/01.jpg" alt="" />
        </div>
        <div class="ucard_user_cont">
          <div class="cuth">
            <div class="cuthcont"><span class="name">做你的狼嚎</span></div>
          </div>
          <div class="cutd">
            <div class="cutdcont">
							<span class="icotags">
								<span class="female icotag"><span class="icotag_text">26</span></span>
							</span>
            </div>
          </div>
        </div>
        <div class="ucard_user_rside">
					<span class="chespan">
						<input type="checkbox" id="ucardInput01" />
						<label for="ucardInput01" class="chespan_label"></label>
					</span>
          <div class="td">
            <span class="itm gift icotag"><span class="icotag_text">20</span></span>
          </div>
        </div>
      </a>
    </div>
    <div class="ucard_mc">
      <div class="ucard_inf">
        <div class="cutcont">
          <span class="itm strong"><i class="jewel_mico mico"></i>情感咨询</span>
        </div>
        <span class="itm small">17天后到期</span>
        <span class="itm small"><i class="time_sico sico"></i>2018-06-22 18:24</span>
      </div>
      <div class="ucard_inf">
        <div class="cutcont">
					<span class="icotags">
						<span class="lv icotag"></span>
						<span class="phone icotag"></span>
						<span class="user icotag"></span>
						<span class="award icotag"></span>
					</span>
        </div>
        <span class="itm"><i class="local_sico sico"></i>8.33km</span>
      </div>
    </div>
  </div>
  <div class="ucard">
    <div class="ucard_mt">
      <a href="###" class="ucard_user">
        <div class="ucard_user_avator">
          <img src="/assets/images/portrait/80/02.jpg" alt="" />
        </div>
        <div class="ucard_user_cont">
          <div class="cuth">
            <div class="cuthcont"><span class="name">做你的狼嚎</span></div>
          </div>
          <div class="cutd">
            <div class="cutdcont">
							<span class="icotags">
								<span class="male icotag"><span class="icotag_text">26</span></span>
							</span>
            </div>
          </div>
        </div>
        <div class="ucard_user_rside">
					<span class="chespan">
						<input type="checkbox" id="ucardInput02" />
						<label for="ucardInput02" class="chespan_label"></label>
					</span>
        </div>
      </a>
    </div>
    <div class="ucard_mc">
      <div class="ucard_inf">
        <div class="cutcont">
          <span class="itm strong"><i class="jewel_mico mico"></i>情感咨询</span>
        </div>
        <span class="itm small">23天后到期</span>
        <span class="itm small"><i class="time_sico sico"></i>2018-06-22 18:24</span>
      </div>
      <div class="ucard_inf">
        <div class="cutcont">
					<span class="icotags">
						<span class="lv icotag"></span>
						<span class="phone icotag"></span>
						<span class="user icotag"></span>
						<span class="award icotag"></span>
						<span class="wechat icotag"></span>
						<span class="weibo icotag"></span>
						<span class="alipay icotag"></span>
					</span>
        </div>
        <span class="itm"><i class="local_sico sico"></i>8.33km</span>
      </div>
    </div>
  </div>
  <div class="ucard">
    <div class="ucard_mt">
      <a href="###" class="ucard_user">
        <div class="ucard_user_avator">
          <img src="/assets/images/portrait/80/01.jpg" alt="" />
        </div>
        <div class="ucard_user_cont">
          <div class="cuth">
            <div class="cuthcont"><span class="name">做你的狼嚎</span></div>
          </div>
          <div class="cutd">
            <div class="cutdcont">
							<span class="icotags">
								<span class="female icotag"><span class="icotag_text">26</span></span>
							</span>
            </div>
          </div>
        </div>
        <div class="ucard_user_rside">
					<span class="chespan">
						<input type="checkbox" id="ucardInput03" />
						<label for="ucardInput03" class="chespan_label"></label>
					</span>
        </div>
      </a>
    </div>
    <div class="ucard_mc">
      <div class="ucard_inf">
        <div class="cutcont">
          <span class="itm strong"><i class="jewel_mico mico"></i>情感咨询</span>
        </div>
        <span class="itm small">17天后到期</span>
        <span class="itm small"><i class="time_sico sico"></i>2018-06-22 18:24</span>
      </div>
      <div class="ucard_inf">
        <div class="cutcont">
					<span class="icotags">
						<span class="lv icotag"></span>
						<span class="phone icotag"></span>
						<span class="user icotag"></span>
						<span class="award icotag"></span>
					</span>
        </div>
        <span class="itm"><i class="local_sico sico"></i>8.33km</span>
      </div>
    </div>
  </div>
  <div class="ucard">
    <div class="ucard_mt">
      <a href="###" class="ucard_user">
        <div class="ucard_user_avator">
          <img src="/assets/images/portrait/80/02.jpg" alt="" />
        </div>
        <div class="ucard_user_cont">
          <div class="cuth">
            <div class="cuthcont"><span class="name">做你的狼嚎</span></div>
          </div>
          <div class="cutd">
            <div class="cutdcont">
							<span class="icotags">
								<span class="male icotag"><span class="icotag_text">26</span></span>
							</span>
            </div>
          </div>
        </div>
        <div class="ucard_user_rside">
					<span class="chespan">
						<input type="checkbox" id="ucardInput04" />
						<label for="ucardInput04" class="chespan_label"></label>
					</span>
        </div>
      </a>
    </div>
    <div class="ucard_mc">
      <div class="ucard_inf">
        <div class="cutcont">
          <span class="itm strong"><i class="jewel_mico mico"></i>情感咨询</span>
        </div>
        <span class="itm small">23天后到期</span>
        <span class="itm small"><i class="time_sico sico"></i>2018-06-22 18:24</span>
      </div>
      <div class="ucard_inf">
        <div class="cutcont">
					<span class="icotags">
						<span class="lv icotag"></span>
						<span class="phone icotag"></span>
						<span class="user icotag"></span>
						<span class="award icotag"></span>
						<span class="wechat icotag"></span>
						<span class="weibo icotag"></span>
						<span class="alipay icotag"></span>
					</span>
        </div>
        <span class="itm"><i class="local_sico sico"></i>8.33km</span>
      </div>
    </div>
  </div>
  <div class="ucard">
    <div class="ucard_mt">
      <a href="###" class="ucard_user">
        <div class="ucard_user_avator">
          <img src="/assets/images/portrait/80/01.jpg" alt="" />
        </div>
        <div class="ucard_user_cont">
          <div class="cuth">
            <div class="cuthcont"><span class="name">做你的狼嚎</span></div>
          </div>
          <div class="cutd">
            <div class="cutdcont">
							<span class="icotags">
								<span class="female icotag"><span class="icotag_text">26</span></span>
							</span>
            </div>
          </div>
        </div>
        <div class="ucard_user_rside">
					<span class="chespan">
						<input type="checkbox" id="ucardInput03" />
						<label for="ucardInput03" class="chespan_label"></label>
					</span>
        </div>
      </a>
    </div>
    <div class="ucard_mc">
      <div class="ucard_inf">
        <div class="cutcont">
          <span class="itm strong"><i class="jewel_mico mico"></i>情感咨询</span>
        </div>
        <span class="itm small">17天后到期</span>
        <span class="itm small"><i class="time_sico sico"></i>2018-06-22 18:24</span>
      </div>
      <div class="ucard_inf">
        <div class="cutcont">
					<span class="icotags">
						<span class="lv icotag"></span>
						<span class="phone icotag"></span>
						<span class="user icotag"></span>
						<span class="award icotag"></span>
					</span>
        </div>
        <span class="itm"><i class="local_sico sico"></i>8.33km</span>
      </div>
    </div>
  </div>
</div>
<!-- end 一行 -->
<!--end 中间-->
<!-- 底部 -->
<div class="fbottom">
  <div class="fnavlist_bj">
    <a href="###" class="primarybtn mbtn fbottom_btn">批量应邀</a>
  </div>
</div>
<!--end 底部-->


<!-- ftools -->
<nav class="ftools">
  <a href="###" class="join ftoolsitem"></a>
  <a href="#" class="gotop ftoolsitem"></a>
</nav>
<!-- end ftools -->



<app-navibar></app-navibar>
