<title>走野</title>
<link rel="stylesheet" type="text/css" href="/assets/css/css.css"/>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
<meta content="yes" name="apple-mobile-web-app-capable"/>
<meta content="black" name="apple-mobile-web-app-status-bar-style"/>
<meta name="format-detection" content="telephone=no"/>
<meta name="format-detection" content="email=no"/>
<meta name="msapplication-tap-highlight" content="no">

<!-- header -->
<header class="header">
  <div class="headtitle">技能管理</div>
  <div class="headr">
    <a href="###" class="headbtn"><i class="mes_hico hico"></i><span class="ntnum">99+</span></a>
  </div>
</header>
<!--end header-->
<!-- banner -->
<div class="ibn" id="ibn">
  <ul class="bd">
    <li><a href="###"><img src="/assets/images/banner/inerbn/01.png" alt=""/></a></li>
    <li><a href="###"><img src="/assets/images/banner/inerbn/01.png" alt=""/></a></li>
    <li><a href="###"><img src="/assets/images/banner/inerbn/01.png" alt=""/></a></li>
    <li><a href="###"><img src="/assets/images/banner/inerbn/01.png" alt=""/></a></li>
  </ul>
  <ul class="hd"></ul>
</div>
<!-- banner -->
<!-- 中间 -->
<!-- 一行 -->
<nav class="inav2list wbox">
  <a href="###" class="inav2item"><img src="/assets/images/icon/inav2/01.png" alt="" class="ico"/>
    <div class="t">我的技能</div>
  </a>
  <a href="###" class="inav2item"><img src="/assets/images/icon/inav2/02.png" alt="" class="ico"/><span
    class="wh_ntnum">送红包</span>
    <div class="t">认证中心</div>
  </a>
  <a href="###" class="inav2item"><img src="/assets/images/icon/inav2/03.png" alt="" class="ico"/><span class="ntdot"></span>
    <div class="t">赚钱攻略</div>
  </a>
  <a href="###" class="inav2item"><img src="/assets/images/icon/inav2/04.png" alt="" class="ico"/>
    <div class="t">发红包</div>
  </a>
</nav>
<!-- end 一行 -->
<!-- 一行 -->
<div class="stickyWrap">
  <!-- sortbar -->
  <nav class="sortbarhd">
    <a href="javascript:;" class="active spnav sortbarhd_item">待应邀</a>
    <a href="javascript:;" class="spnav sortbarhd_item">已应邀</a>
    <a href="javascript:;" class="spnav sortbarhd_item">已成交</a>
    <a href="javascript:;" class="spnav sortbarhd_item">已过期</a>
  </nav>
  <div class="sortbar_wrap stickyInTop" id="sortbarWrap">
    <div class="sortbar" id="sortbar">
      <nav class="sortbarhd">
        <div data-sort="filter" class="hasbd sortbarhd_item">筛选<i class="selgt"></i></div>
        <div data-sort="rank" class="hasbd sortbarhd_item">全部服务<i class="selgt"></i></div>
        <a href="yao.html" class="sortbarhd_item"><i class="filter_ftico ftico"></i>批量应邀</a>
      </nav>
      <div class="sortbarbd">
        <div data-sort="rank" class="sortbar_item">
          <div class="sortbar_content">
            <div class="sortbar_mc">
              <ul class="sortbar_selist">
                <li class="selected"><a href="###">全部服务</a></li>
                <li><a href="###">线下服务</a></li>
                <li><a href="###">线上服务</a></li>
                <li><a href="###">电话咨询</a></li>
                <li><a href="###">视频 咨询</a></li>
                <li><a href="###">线下服务</a></li>
                <li><a href="###">线上服务</a></li>
                <li><a href="###">电话咨询</a></li>
                <li><a href="###">视频 咨询</a></li>
                <li><a href="###">线下服务</a></li>
                <li><a href="###">线上服务</a></li>
                <li><a href="###">电话咨询</a></li>
                <li><a href="###">视频 咨询</a></li>
                <li><a href="###">线下服务</a></li>
                <li><a href="###">线上服务</a></li>
                <li><a href="###">电话咨询</a></li>
                <li><a href="###">视频 咨询</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div data-sort="filter" class="sortbar_item">
          <div class="sortbar_column">
            <div class="ph20 sortbar_mc">
              <dl class="sortcldl">
                <dt class="sortcldt">品类</dt>
                <dd class="sortcldd">
                  <a href="###">情感咨询</a>
                  <a href="###">兼职红娘</a>
                  <a href="###">户外运动</a>
                </dd>
              </dl>
              <dl class="sortcldl">
                <dt class="sortcldt">性别</dt>
                <dd class="sortcldd">
                  <a class="selected" href="###">不限</a>
                  <a href="###">男</a>
                  <a href="###">女</a>
                </dd>
              </dl>
              <dl class="sortcldl">
                <dt class="sortcldt">距离</dt>
                <dd class="sortcldd">
                  <a class="selected" href="###">不限</a>
                  <a href="###">5公里内</a>
                  <a href="###">10公里内</a>
                </dd>
              </dl>
            </div>
            <nav class="setbtnrow">
              <a href="###" class="reset setbtn">重置</a>
              <a href="###" class="confirm setbtn">确定</a>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="closesortbar sortbarbg"></div>
  </div>
  <!-- end sortbar -->
  <!-- 一行 -->
  <div class="ucards">
    <div class="ucard">
      <div class="ucard_mt">
        <a href="###" class="ucard_user">
          <div class="ucard_user_avator">
            <img src="/assets/images/portrait/80/01.jpg" alt=""/>
            <div class="avatordecs">推荐</div>
          </div>
          <div class="ucard_user_cont">
            <div class="cuth">
              <div class="cuthcont"><span class="name">做你的狼嚎</span></div>
              <span class="itm"><i class="local_sico sico"></i>8.33km</span>
            </div>
            <div class="cutd">
              <div class="cutdcont">
								<span class="icotags">
									<span class="female icotag"><span class="icotag_text">26</span></span>
								</span>
              </div>
              <span class="itm rdtxt"><i class="money_sico sico"></i>邀请诚意金赚钱</span>
              <span class="itm gift icotag"><span class="icotag_text">20</span></span>
            </div>
          </div>
        </a>
      </div>
      <div class="ucard_mc">
        <div class="ucard_inf">
          <div class="cutcont">
            <span class="itm strong"><i class="jewel_mico mico"></i>情感咨询</span>
          </div>
          <span class="itm small">17天后到期</span>
          <span class="itm small"><i class="time_sico sico"></i>2018-06-22 18:24</span>
        </div>
        <div class="ucard_inf">
					<span class="icotags">
						<span class="lv icotag"></span>
						<span class="phone icotag"></span>
						<span class="user icotag"></span>
						<span class="award icotag"></span>
					</span>
        </div>
      </div>
      <div class="ucard_tools ucard_tools_w">
        <div class="spcbtnrow_item"><a href="###" class="primarylinebtn mbtn"><i class="share_mico mico"></i>分享赚钱</a>
        </div>
        <div class="spcbtnrow_item"><a href="###" class="primarybtn mbtn"><i class="love_mico mico"></i>立即应邀</a></div>
      </div>
    </div>
    <div class="ucard">
      <div class="ucard_mt">
        <a href="###" class="ucard_user">
          <div class="ucard_user_avator">
            <img src="/assets/images/portrait/80/02.jpg" alt=""/>
            <div class="avatordecs">推荐</div>
          </div>
          <div class="ucard_user_cont">
            <div class="cuth">
              <div class="cuthcont"><span class="name">做你的狼嚎</span></div>
              <span class="itm"><i class="local_sico sico"></i>8.33km</span>
            </div>
            <div class="cutd">
              <div class="cutdcont">
								<span class="icotags">
									<span class="male icotag"><span class="icotag_text">26</span></span>
								</span>
              </div>
              <span class="itm rdtxt"><i class="money_sico sico"></i>邀请诚意金赚钱</span>
            </div>
          </div>
        </a>
      </div>
      <div class="ucard_mc">
        <div class="ucard_inf">
          <div class="cutcont">
            <span class="itm strong"><i class="jewel_mico mico"></i>情感咨询</span>
          </div>
          <span class="itm small">23天后到期</span>
          <span class="itm small"><i class="time_sico sico"></i>2018-06-22 18:24</span>
        </div>
        <div class="ucard_inf">
					<span class="icotags">
						<span class="lv icotag"></span>
						<span class="phone icotag"></span>
						<span class="user icotag"></span>
						<span class="award icotag"></span>
						<span class="wechat icotag"></span>
						<span class="weibo icotag"></span>
						<span class="alipay icotag"></span>
					</span>
        </div>
      </div>
      <div class="ucard_tools ucard_tools_w">
        <div class="spcbtnrow_item"><a href="###" class="primarylinebtn mbtn"><i class="share_mico mico"></i>分享赚钱</a>
        </div>
        <div class="spcbtnrow_item"><a href="###" class="primarybtn mbtn"><i class="love_mico mico"></i>立即应邀</a></div>
      </div>
    </div>
    <div class="ucard">
      <div class="ucard_mt">
        <a href="###" class="ucard_user">
          <div class="ucard_user_avator">
            <img src="/assets/images/portrait/80/01.jpg" alt=""/>
            <div class="avatordecs">推荐</div>
          </div>
          <div class="ucard_user_cont">
            <div class="cuth">
              <div class="cuthcont"><span class="name">做你的狼嚎</span></div>
              <span class="itm"><i class="local_sico sico"></i>8.33km</span>
            </div>
            <div class="cutd">
              <div class="cutdcont">
								<span class="icotags">
									<span class="female icotag"><span class="icotag_text">26</span></span>
								</span>
              </div>
              <span class="itm rdtxt"><i class="money_sico sico"></i>邀请诚意金赚钱</span>
              <span class="itm gift icotag"><span class="icotag_text">20</span></span>
            </div>
          </div>
        </a>
      </div>
      <div class="ucard_mc">
        <div class="ucard_inf">
          <div class="cutcont">
            <span class="itm strong"><i class="jewel_mico mico"></i>情感咨询</span>
          </div>
          <span class="itm small">17天后到期</span>
          <span class="itm small"><i class="time_sico sico"></i>2018-06-22 18:24</span>
        </div>
        <div class="ucard_inf">
					<span class="icotags">
						<span class="lv icotag"></span>
						<span class="phone icotag"></span>
						<span class="user icotag"></span>
						<span class="award icotag"></span>
					</span>
        </div>
      </div>
      <div class="ucard_tools ucard_tools_w">
        <div class="spcbtnrow_item"><a href="###" class="primarylinebtn mbtn"><i class="share_mico mico"></i>分享赚钱</a>
        </div>
        <div class="spcbtnrow_item"><a href="###" class="primarybtn mbtn"><i class="love_mico mico"></i>立即应邀</a></div>
      </div>
    </div>
    <div class="ucard">
      <span class="ltsignlabel">NEW</span>
      <div class="ucard_mt">
        <a href="###" class="ucard_user">
          <div class="ucard_user_avator">
            <img src="/assets/images/portrait/80/02.jpg" alt=""/>
          </div>
          <div class="ucard_user_cont">
            <div class="cuth">
              <div class="cuthcont"><span class="name">做你的狼嚎</span></div>
              <span class="itm"><i class="local_sico sico"></i>8.33km</span>
            </div>
            <div class="cutd">
              <div class="cutdcont">
								<span class="icotags">
									<span class="male icotag"><span class="icotag_text">26</span></span>
								</span>
              </div>
              <span class="itm rdtxt"><i class="money_sico sico"></i>邀请诚意金赚钱</span>
            </div>
          </div>
        </a>
      </div>
      <div class="ucard_mc">
        <div class="ucard_inf">
          <div class="cutcont">
            <span class="itm strong"><i class="jewel_mico mico"></i>情感咨询</span>
          </div>
          <span class="itm small">23天后到期</span>
          <span class="itm small"><i class="time_sico sico"></i>2018-06-22 18:24</span>
        </div>
        <div class="ucard_inf">
					<span class="icotags">
						<span class="lv icotag"></span>
						<span class="phone icotag"></span>
						<span class="user icotag"></span>
						<span class="award icotag"></span>
						<span class="wechat icotag"></span>
						<span class="weibo icotag"></span>
						<span class="alipay icotag"></span>
					</span>
        </div>
      </div>
      <div class="ucard_tools ucard_tools_w">
        <div class="spcbtnrow_item"><a href="###" class="primarylinebtn mbtn"><i class="share_mico mico"></i>分享赚钱</a>
        </div>
        <div class="spcbtnrow_item"><a href="###" class="primarybtn mbtn"><i class="love_mico mico"></i>立即应邀</a></div>
      </div>
    </div>
  </div>
  <!-- end 一行 -->
</div>
<!-- end 一行 -->
<!--end 中间-->

<!-- ftools -->
<nav class="ftools">
  <a href="###" class="join ftoolsitem"></a>
  <a href="#" class="gotop ftoolsitem"></a>
</nav>
<!-- end ftools -->

<app-tool></app-tool>
