<html>  
<body>  
    <h3>   尊敬的商家：</h3>
 
<p>感谢您注册使用好闺蜜网。</p>
<p>请点击如下链接进行账号激活，激活后您可继续进行入驻申请：</p>
<p>http://zhaoshang.ffan.com/activeEmailAccount?auth=791075085af8a19fd8d3b42ce93ad580</p> 

<p>如果链接无法打开浏览器窗口，请直接复制上述地址到浏览器地址栏中打开。</p>
<p>如果不是您本人申请，请直接删除此邮件，抱歉给您带来的不便。</p>
<p>本邮件为系统自动发送，不受理客户在线回复，如果您需要与我们联络，请致电0771-5850332</p>
<p>好闺蜜网</p>
    
</body>  
</html>  