<title>走野</title>
<link rel="stylesheet" type="text/css" href="/assets/css/css.css"/>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
<meta content="yes" name="apple-mobile-web-app-capable"/>
<meta content="black" name="apple-mobile-web-app-status-bar-style"/>
<meta name="format-detection" content="telephone=no"/>
<meta name="format-detection" content="email=no"/>
<meta name="msapplication-tap-highlight" content="no">

<!-- header -->
<header class="inbn header">
  <div class="headl">
    <a href="###" class="headbtn"><i class="seting_hico hico"></i></a>
  </div>
  <div class="headtitle">Arichar</div>
  <div class="headr">
    <a href="###" class="headbtn"><i class="mes_hico hico"></i><span class="ntnum">99+</span></a>
  </div>
</header>
<!--end header-->
<!-- 一行 -->
<div class="ubn">
  <a href="###" class="sideubn">
    <div class="sideavator"><span class="avator120"><img src="/assets/images/portrait/120/01.jpg" alt=""/></span></div>
    <div class="cutcont">
      <div class="ubntr"><span class="name">Arichar</span></div>
      <div class="ubntr">走野号：5422632</div>
      <div class="ubntr">
        <span>17关注</span>
        <span class="spc">&#124;</span>
        <span>打赏1225</span>
        <span class="spc">&#124;</span>
        <span>0赞</span>
      </div>
    </div>
    <i class="selfcenter rgt"></i>
  </a>
</div>
<!-- end 一行 -->
<!-- 中间 -->
<!-- 一行 -->
<div class="ajustobn wmbox">
  <nav class="inav2list">
    <a href="###" class="inav2item"><img src="/assets/images/icon/inav2/05.png" alt="" class="ico"/>
      <div class="t">我的帐户</div>
    </a>
    <a href="###" class="inav2item"><img src="/assets/images/icon/inav2/04.png" alt="" class="ico"/><span class="ntdot"></span>
      <div class="t">我的红包</div>
    </a>
    <a href="###" class="inav2item"><img src="/assets/images/icon/inav2/02.png" alt="" class="ico"/>
      <div class="t">认证中心</div>
    </a>
    <a href="###" class="inav2item"><img src="/assets/images/icon/inav2/06.png" alt="" class="ico"/>
      <div class="t">我的动态</div>
    </a>
  </nav>
</div>
<!-- end 一行 -->
<!-- 一行 -->
<div class="m20 picadv"><a href="###" class="picadv_link"><img src="/assets/images/pic/picadv/02.png" alt=""/></a></div>
<!-- end 一行 -->
<!-- 一行 -->
<div class="ph20 wmbox">
  <nav class="golist">
    <a href="###" class="goitem">
      <span class="user_tico tico"></span>
      <div class="dt">我的关注</div>
      <i class="rgt"></i>
    </a>
    <a href="###" class="goitem">
      <span class="task_tico tico"></span>
      <div class="dt">任务中心</div>
      <span>做任务领现金奖励</span>
      <i class="rgt"></i>
    </a>
    <a href="###" class="goitem">
      <span class="invite_tico tico"></span>
      <div class="dt">邀请好友</div>
      <img src="/assets/images/icon/gift60.gif" alt="" class="img60"/>
      <span>邀请好友得现金</span>
      <i class="rgt"></i>
    </a>
    <a href="###" class="goitem">
      <span class="earn_tico tico"></span>
      <div class="dt">赚钱攻略</div>
      <i class="rgt"></i>
    </a>
    <a href="###" class="goitem">
      <span class="control_tico tico"></span>
      <div class="dt">控制中心</div>
      <i class="rgt"></i>
    </a>
  </nav>
</div>
<!-- end 一行 -->
<!--end 中间-->

<script>
  document.addEventListener("touchstart", function () {
  }, true);
</script>
<app-tool></app-tool>
